body{
    background-color:#AE8E1C;

}
#first{

    color:#650D1B;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
.second{

    color:#9B3D12;
    color:#823200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}