body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
}

header h1{
    padding: 0px;
    margin: 0%;
}

nav{
    display: flex;
    padding:0%;
    margin:0%;    
}

nav div{
    padding: 3px;
    margin: 0%;
    color: black;
}

.MainMain{
    display: flex;
    padding: auto;
    border: 3px color(255 255 255 255);
    box-shadow: 3px;
}

aside{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 3px;
    box-shadow: 3px thin black;
    border: black solid thick;
}

.card{
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    box-shadow:thin black;
    border: black solid thick;
}
.card iframe{
    width: 100%;
}
.MainHawaii{
    display: flex;
}
.hawaiiDiv{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.MainAotearoa{
    display: flex;
}
.HeaderIMG{
    width: 100%;
}
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  @media screen and (max-width: 500px) {
    body{
        background-color: #AAA;

    }
    .card{
        flex-wrap: wrap;
        flex-direction: column;
    }
    nav a{
        border-bottom: thin solid #fff;
    }
    nav{
        flex-direction: column;
    }
    .card iFrame{
        width: 100%;
    }
    .card img{
        width: 100%;
    }
    aside{
        
    }
    

}